* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-one: #3b5998;
  --background-two: #1da1f2;
  --border-color: #8b9dc3;
  --hover-color: rgba(29, 161, 242, 0.1);
  --primary-text: #f7f7f7;
  --secondary-text: #dfe3ee;
}
#content {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-one);
  color: var(--primary-text);
}
.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border: none;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(2px);
  color: white;
}
/* HEADER | TOP OF PAGE */
.header {
  padding: 8px;
  display: flex;
  border-bottom: 1px solid var(--background-two);
  align-items: center;
}
.navButton {
  font-size: 25px;
  background: none;
  border: none;
  color: var(--primary-text);
}
.signin {
  font-size: 12px;
}
.navButton:hover,
.signin:hover {
  color: var(--background-two);
}
.navButton,
.title,
.signin {
  color: var(--primary-text);
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}
.title {
  flex: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 3vh;
  height: 1.7vh;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-two);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.3vh;
  width: 1.3vh;
  left: 0.2vh;
  bottom: 0.2vh;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--secondary-text);
}
input:focus + .slider {
  box-shadow: 0 0 1px #1da1f2;
}
input:checked + .slider:before {
  -webkit-transform: translateX(1.34vh);
  -ms-transform: translateX(1.34vh);
  transform: translateX(1.34vh);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* NAV | SIDEBAR MENU */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-one);
  border: 1px solid var(--border-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: width 0.5s;
}
.sidenav a, .dropdown, .sortChoice {
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
  color: var(--primary-text);
  display: block;
  transition: 0.3s;
}
.closebtn {
  padding: 8px !important;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 26px !important;
  margin-left: 50px;
  background: none;
  border: none;
  color: var(--primary-text);
}
.sidenav a:hover, .addProject:hover {
  color: var(--background-two);
  background-color: var(--hover-color);
}
.dropdown {
  border-top: 1px solid var(--background-two);
  border-bottom: 1px solid var(--background-two);
  cursor: default;
}
.dropdown-content {
  display: none;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
}
.addProject {
  background: none;
  border: none;
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-left: 5px;
  align-self: center;
  color: var(--primary-text);
}
.projDelete {
  float: right;
  border: none;
  background: none;
  font-size: inherit;
  color: var(--primary-text);
}
.projectListing, .sortChoice {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sortChoice {
  padding: 0 1px 0 8px;
}
.sortSelect, .projSelect {
  padding: 8px;
}
.projectListing input, .sortChoice input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.projSelect {
  display: block;
  justify-content: center;
  text-align: center;
}
.projectListing:hover input ~ .projSelect, .sortChoice:hover input ~ .sortSelect {
  background-color: var(--hover-color);
  border: 1px solid var(--secondary-text);
}
.projectListing input:checked ~ .projSelect, .sortChoice input:checked ~ .sortSelect {
  background-color: var(--background-one);
  color: var(--background-two);
  border: 1px solid var(--background-two);
  border-radius: 5px;
}
/* MAIN | CENTER OF PAGE  */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  max-width: 375px;
  width: 90%;
  max-height: 406px;
  height:  90%;
  border-radius: 50px;
  background-color: var(--background-one);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.todoForm, .discForm {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  width: 100%;
  max-height: 406px;
  height:  100%;
  padding: 25px;
  margin: 0;
  border-radius: 50px;
  box-shadow: 0 2px 5px #f5f5f5; 
  color: var(--primary-text);
  font-size: 12px;
  overflow-y: scroll;
}
.discForm {
  justify-content: unset;
}
.discForm h3 {
  padding: 8px 0;
}
.discr {
  padding: 8px;
  border: 1px solid var(--background-two);
  border-radius: 15px;
  flex: 1;
}
.todoForm p, .discform p {
  margin: 10px 0 2px;
  font-weight: 400;
  font-size: 14px;
}
.todoForm h1, .discForm h1 {
  text-align: center;
  padding: 8px 0;
}
.todoForm textarea {
  flex: 1;
  min-height: 40px;
  padding: 2;
  width: calc(100% - 6px);
}
.todoForm select {
  padding: 4px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: var(--secondary-text);
  font-size: inherit;
}
.todoForm input {
  max-height: 8px;
  padding: 10px 2px;
}
option {
  background: #fff;
}
.todoForm #submit {
  align-self: center;
  width: 150px;
  padding: 10px;
  border: 1px solid var(--border-color);
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: var(--background-one);
  font-size: 14px;
  color: #fff;
  cursor: pointer;  
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  margin-top: 20px;
}
.todoForm button:hover, .closebtn:hover {
  color: var(--background-two);
}
.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  background-color: var(--hover-color);
  color: var(--primary-text);
  border-radius: 6px;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.2);
  list-style: none;
  overflow: hidden;
}
.listItem {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--primary-text);
  position: relative;
}
.listItem:last-child {
  border: 0;
}
.addTask {
  background: none;
  border: 2px solid var(--primary-text);
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
  align-self: center;
  color: var(--secondary-text);
}
.priority {
  display: flex;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin: 0 0 0 10px;
}
.checkLabel input, .project input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkLabel {
  font-size: 12px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.checkmark {
  display: flex;
  align-self: center;
  position: relative;
  height: 12px;
  width: 12px;
  margin: 0 10px;
  border: 2px solid var(--background-two);
  border-radius: 2px;
  cursor: pointer;
}
.checkmark:after {
  content: "";
  display: none;
  position: absolute;
  top: -3px;
  left: 0.5px;
  width: 4.5px;
  height: 8.5px;
  border: solid var(--background-one);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkLabel input:checked ~ .checkmark {
  background-color: var(--background-two);
}
.labelDisc {
  display: flex;
  flex: 1;
  align-self: center;
  position: relative;
  cursor: pointer;
  padding: 8px 10px;
  border-left: 1px solid var(--primary-text);
  overflow-x: hidden;
  white-space: pre;
  text-decoration: none;
  color: inherit;
}
.labelDisc:hover,
.modify:hover,
.delete:hover,
.projDelete:hover,
.addTask:hover {
  color: var(--background-two);
}
.labelDisc:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-text);
  position: absolute;
  top: 50%;
  left: 3.8%;
  transform: translateY(-50%);
  transition: width 100ms ease-in-out;
}
.checkLabel input:checked ~ .checkmark:after {
  display: block;
}
.checkLabel input:checked ~ .labelDisc:after {
  width: 85%;
}
.time {
  padding: 8px 8px;
  border-left: 1px solid var(--primary-text);
  border-right: 1px solid var(--primary-text);
  text-decoration: none;
  color: inherit;
  cursor: default;
}
.modify {
  padding: 8px 8px;
  border: none;
  background: none;
  font-size: inherit;
  color: inherit;
}
.delete {
  padding: 8px 8px;
  border: none;
  background: none;
  font-size: inherit;
  color: inherit;
}
/* FOOTER | BOTTOM OF PAGE */
.footer {
  background: rgba(12, 12, 13, 0.78);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4%;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 6px;
  border-bottom: 3px solid transparent;
  text-shadow: 0px 0px 1px transparent;
}
.logo {
  padding-left: 10px;
}
/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .labelDisc {
    padding: 20px;
  }
  .labelDisc:after {
    left: 4%;
  }
  .time, .modify, .delete {
    padding: 20px 13px;
  }
  .formContainer {
    max-width: 812px;
    width: 60%;
    max-height: 187.5px;
    height:  80%;
  }
  .todoForm, .discForm {
    max-width: 813px;
    max-height: 187.5px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .formContainer {
    max-width: 768px;
    width: 50%;
    max-height: 512px;
    height:  70%;
  }
  .todoForm, .discForm {
    max-width: 768px;
    max-height: 512px;
    overflow: auto;
  }
  .todoForm select, .todoForm input {
    padding: 5px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: var(--secondary-text);
  }
  .signin, .checkLabel, .todoForm, .discForm, .todoForm textarea {
    font-size: 14px;
  }
  .todoForm p, .discform p, .todoForm button, .sidenav a, .dropdown, .sortChoice {
    font-size: 16px;
  }
  .todoForm input {
    padding: 15px 2px;
  }
  .switch {
    width: 30px;
    height: 17px;
  }
  .slider:before {
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  .list {
    width: 80%;
    max-width: 1000px;
  }
  .priority {
    height: 12px;
    width: 12px;
  }
  .checkmark {
    height: 20px;
    width: 20px;
    margin: 0 20px;
  }
  .checkmark:after {
    top: -1px;
    left: 4px;
    width: 6px;
    height: 12px;
  }
  .labelDisc {
    padding: 20px;
  }
  .time, .modify, .delete {
    padding: 20px 13px;
  }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .formContainer {
    max-width: 1920px;
    width: 50%;
    max-height: 540px;
    height:  70%;
  }
  .todoForm, .discForm {
    max-width: 1920px;
    max-height: 540px;
  }
  .sidenav a, .dropdown, .sortChoice, .signin, .todoForm p, .discform p, .todoForm button {
    font-size: 18px;
  }
  .checkLabel, .signin, .todoForm, .discForm {
    font-size: 16px;
  }
}
/* Extra large devices (large desktops, 1920px and up) */
@media (min-width: 1920px) {
  .formContainer {
    width: 30%;
  }
  .discForm {
    padding: 50px;
    justify-content: left;
  }
  .sidenav a, .dropdown, .sortChoice, .signin, .todoForm p, .discform p, .todoForm button {
    font-size: 20px;
  }
  .list {
    width: 80%;
    max-width: 1200px;
  }
  .checkLabel, .signin, .todoForm, .todoForm textarea {
    font-size: 18px;
  }
  .labelDisc:after {
    left: 2%;
  }
}